.tab-2 {
    font-size: 0;
    padding: 0 1rem;
}

.tab-2 > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.7rem;
    text-align: center;
}

.tab-3 {
    font-size: 0;
    padding: 0 1rem;
}

.tab-3 > div {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.7rem;
    text-align: center;
}

.tab-4 {
    font-size: 0;
    padding: 0 1rem;
}

.tab-4 > div {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.7rem;
    text-align: center;
}